/* reset */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* body colo bkg */
body {
    background-color: rgb(233, 233, 233);
}


/* classe header style */
.header {
    padding: 10px;
    background-color: rgb(243, 243, 243);
}

.logo {
    margin-left: 20px;
}

.logo-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    vertical-align: 15px;
}


/* container botton */
.containerButton {
    background-color: white;
    height: 50px;
    width: 900px;
    margin: auto;
    border-radius: 5px;
    margin-top: 40px;
}

.container2 {
    background-color: white;
    height: 600px;
    width: 900px;
    margin: auto;
    border-radius: 5px;
    margin-top: 2px;
}


/* button */
.buttonLeft {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #3f96fa;
    border-radius: 5px;
    border-color: #3f96fa;
    text-align: center;
    margin-top: 12px;
    margin-left: 40px;
    padding: 5px 16px;
} 

.buttonRight {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    background-color: white;
    border-radius: 5px;
    border-color: lightgrey;
    text-align: center;
    margin-top: 12px;
    margin-left: 2px;
    padding: 4px 18px;
}


/* liste sezioni */
ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 3em;
    line-height: 40px;
    list-style-type: none;
    color: rgb(64, 67, 72);
}   


h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:  40px;
    color: rgb(64, 67, 72);
    line-height: 60px;
}  


.editorial {
    background-color: #3f96fa;
    color: white;
    border-radius: 12px;
    padding: 6px 12px;
    margin-left: 5px;
    font-size: 11px;
}







