/* reset */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* body colo bkg */
body {
    background-color: grey;
}


/* classe header style */
.header {
    padding: 10px;
    background-color: lightgrey;
}

.logo {

}

.logo-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    size: 20px;
}





