/* reset */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* body colo bkg */
body {
    background-color: grey;
}


/* classe header style */
.header {
    padding: 10px;
    background-color: lightgrey;
}

.logo {
    margin-left: 20px;
}

.logo-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    vertical-align: 15px;
}


/* container botton */
.containerbotton {
    background-color: white;
    height: 100px;
    width: 700px;
    margin: auto;
    border-radius: 5px;
}


.container2 {
    background-color: white;
    height: 100px;
    width: 700px;
    margin: auto;
    border-radius: 5px;
}





